@model string

<form action="survey/get">
    <body style="background-image: url('https://images.wallpaperscraft.ru/image/single/buket_tsvety_ruki_145393_1920x1080.jpg');" class="overlay">
    <section class="hero-area">
        <div class="block">
            <h1>Dasha & Dima Wedding</h1>
            <p>Добро пожаловать на сайт, посвященный нашему свадебному торжеству!</p>
            <div class="access-code">
                <p>Введите код с приглашения:</p>
                <input name="accessCode" class="form-control"/>
                <input type="submit" class="btn btn-transparent" value="Ввод"/>
                <p>@Model</p>
            </div>
        </div>
    </section>
    </body>
</form>