@model string
<section class="u-clearfix u-image u-shading u-section-1" id="carousel_8a50" data-image-width="150" data-image-height="112">
    <form action="survey/get">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-container-style u-group u-palette-5-light-1 u-radius-32 u-shape-round u-group-1 u-opacity-80">
                <div class="u-container-layout u-container-layout-1 dark-green">
                    <h2 class="u-align-center u-custom-font u-text u-text-1">Darya &amp; Dmitry Wedding</h2>
                    <p class="u-align-center u-large-text u-text u-text-variant u-text-2">Добро пожаловать на сайт, посвященный нашему свадебному торжеству!</p>
                    <p class="u-align-center u-text u-text-3">Введите код с приглашения:</p>
                    <p class="u-align-center">
                        <input name="accessCode" class="form-control" style="border: none"/>
                    </p>
                    <p class="u-align-center u-text u-text-3">@Model</p>
                    <input type="submit" class="u-active-palette-5-light-3 u-border-none u-btn u-btn-round u-button-style u-hover-palette-5-light-3 u-radius-50 u-text-active-palette-3-base u-text-body-color u-text-hover-palette-3-base u-white u-btn-1" value="Войти"/>
                </div>
            </div>
        </div>
    </form>
</section>
<style>
    html {
        overflow: hidden;
    }
</style>